@charset "UTF-8";
@font-face {
  font-family: ArialRoundedMTBold;
  src: url(../fonts/ArialRoundedMTBold.ttf); }

.toggle-mnu {
  display: block;
  float: right;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 48px; }

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin: 40px 15px; }
  .toggle-mnu:focus {
    outline: none; }

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

.toggle-mnu span:after {
  top: 9px; }

.toggle-mnu span {
  position: relative;
  display: block; }

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.toggle-mnu.on span {
  background-color: transparent; }

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px); }

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
      -ms-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px); }

.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible; }

* {
  line-height: 1; }

ul, li {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a:hover, a:focus {
  text-decoration: none; }

.wrapper {
  width: 1300px;
  margin: auto;
  overflow: hidden; }

.top {
  padding: 23px;
  background-color: #FFF;
  overflow: hidden; }

.logo {
  width: 380px;
  float: left;
  margin-top: 30px;
  display: block;
  height: 101px; }
  .logo img {
    float: left; }
  .logo span {
    display: block;
    float: right;
    height: 101px;
    width: 205px;
    color: black;
    font-family: Arial;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    padding-top: 29px; }

.top-r {
  float: right;
  text-align: right; }

.call-back {
  width: 250px;
  height: 80px;
  background-color: #0066d0;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #FFF;
  font-family: Arial;
  font-size: 25px;
  font-weight: 700;
  line-height: 3.3;
  margin-bottom: 10px; }
  .call-back:hover {
    color: #FFF;
    text-decoration: none; }
  .call-back:active {
    color: #FFF;
    text-decoraразмерtion: none; }
  .call-back:focus {
    color: #FFF;
    text-decoration: none; }
  .call-back:visited {
    color: #FFF;
    text-decoration: none; }

.top-phone {
  background: url("../img/wa.png") no-repeat 0 0;
  background-position: left center;
  color: black;
  font-family: Arial;
  font-size: 25px;
  font-weight: 700;
  padding-left: 40px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 0; }
  .top-phone:hover {
    text-decoration: none; }

.top-mail {
  display: block;
  color: black;
  font-family: Arial;
  font-size: 25px;
  font-weight: 700; }
  .top-mail:hover {
    text-decoration: none; }

.main-mnu ul {
  display: block;
  height: 120px;
  background-color: #0066d0;
  width: 100%;
  text-align: center;
  padding-top: 43px; }

.main-mnu li {
  display: inline-block;
  margin: 0 20px; }

.main-mnu a {
  color: white;
  font-family: Arial;
  font-size: 33px;
  font-weight: 700; }
  .main-mnu a:hover {
    text-decoration: none; }

.nopadding {
  padding: 0 !important; }

.slider {
  position: relative;
  height: 867px;
  overflow: hidden;
  border-bottom: 14px solid #000;
  width: 100%; }
  .slider:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.5; }

.slider-text {
  z-index: 20;
  color: #FFF;
  bottom: 190px;
  position: absolute;
  text-align: center;
  width: 100%; }

.slider-slogan {
  font-family: Arial;
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 160px; }

.slider-icons {
  width: 920px;
  margin: auto; }
  .slider-icons span {
    font-family: Arial;
    font-size: 29px;
    font-weight: 400;
    display: block;
    width: 33.3%;
    float: left;
    background-position: top center !important;
    padding-top: 170px;
    line-height: 1.2; }
    .slider-icons span:first-child {
      background: url("../img/1.png") no-repeat 0 0; }
    .slider-icons span:nth-child(2) {
      background: url("../img/2.png") no-repeat 0 0; }
    .slider-icons span:nth-child(3) {
      background: url("../img/3.png") no-repeat 0 0; }

.trust {
  padding-top: 30px;
  padding-bottom: 58px;
  overflow: hidden;
  border-bottom: 15px solid #000; }
  .trust ul {
    display: block;
    text-align: center; }
    .trust ul li {
      display: inline-block;
      margin: 0 20px; }
  .trust h2 {
    margin-top: 0;
    margin-bottom: 45px;
    color: black;
    font-family: Arial;
    font-size: 33px;
    font-weight: 700;
    text-align: center; }

.trust-slider {
  position: relative; }

.trust-buttons {
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 100%; }
  .trust-buttons a {
    display: block;
    width: 31px;
    height: 50px; }

.prev {
  background: url("../img/prev.png") no-repeat 0 0;
  position: absolute;
  left: 25px; }

.next {
  background: url("../img/next.png") no-repeat 0 0;
  position: absolute;
  right: 25px; }

.trust.sert {
  padding-top: 30px;
  padding-bottom: 40px; }
  .trust.sert li {
    margin: 0 83px; }

.bb15, .main-form {
  border-bottom: 15px solid #000; }

.main-form {
  background: url("../img/form-main-bg.png") no-repeat 0 0;
  height: 1195px;
  width: 100%;
  padding-top: 135px;
  overflow: hidden;
  background-position: bottom center; }
  .main-form .form-wrap {
    padding-top: 234px;
    background: url("../img/form-bg.png") no-repeat 0 0;
    width: 896px;
    height: 907px;
    margin: auto;
    position: relative; }
    .main-form .form-wrap form {
      width: 300px;
      margin: auto;
      text-align: center; }
    .main-form .form-wrap input[type=text] {
      width: 220px;
      height: 40px;
      border: none;
      background-color: white;
      color: #b9b6b6;
      font-family: Arial;
      font-size: 17px;
      font-weight: 700;
      padding: 0 10px;
      margin-bottom: 20px; }
    .main-form .form-wrap input[type=submit] {
      margin-top: 20px;
      padding: 0 20px;
      height: 60px;
      background-color: #0066d0;
      border: 3px solid #0066d0;
      color: white;
      font-family: Arial;
      font-size: 17px;
      font-weight: 700;
      text-align: center; }
    .main-form .form-wrap:after {
      content: "";
      display: block;
      position: absolute;
      right: -100px;
      bottom: -120px;
      background: url("../img/pen.png") no-repeat 0 0;
      width: 314px;
      height: 580px; }

.form-text {
  width: 90%;
  margin: auto;
  color: black;
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 40px; }

.footer1 {
  padding: 70px 120px 50px 120px;
  background-color: #FFF;
  overflow: hidden; }
  .footer1 li {
    margin-bottom: 37px;
    line-height: 1; }
    .footer1 li:last-child {
      margin-bottom: 0; }
    .footer1 li a {
      color: black;
      font-family: Arial;
      font-size: 21px;
      font-weight: 400; }

.f1-mnu1 {
  float: left; }

.f1-mnu2 {
  float: right; }

.footer2 {
  background-color: #0066d0;
  padding: 60px 78px 38px 60px;
  overflow: hidden;
  color: black;
  font-family: Arial;
  font-size: 20px;
  font-weight: 700; }
  .footer2 a {
    color: black;
    font-family: Arial;
    font-size: 21px;
    font-weight: 700; }

.f2-l {
  float: left; }

.b-phone {
  margin-bottom: 20px; }

.f2-r {
  float: right; }

.copy {
  width: 100%;
  float: left;
  text-align: center;
  color: black;
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  margin-top: 40px; }
  .copy p {
    margin: 0; }

.fb {
  text-align: center; }
  .fb span {
    display: block;
    margin: auto;
    margin-bottom: 20px; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {
  .wrapper {
    width: 100%; }
  .main-mnu li a {
    font-size: 31px; }
  .trust-slider img {
    height: auto;
    width: 150px; }
  .sert-slider img {
    width: 200px;
    height: auto; } }

@media only screen and (max-width: 1200px) {
  .main-mnu {
    display: none;
    float: right;
    min-width: 250px;
    text-align: right;
    background-color: #1C242C;
    width: auto;
    position: absolute;
    top: 55px;
    right: 15px;
    height: auto;
    z-index: 10;
    margin-top: 0; }
    .main-mnu ul {
      display: inline; }
    .main-mnu li {
      display: block;
      float: none;
      margin: 0; }
    .main-mnu a {
      display: block;
      color: #FFF;
      -webkit-border-radius: 0;
              border-radius: 0;
      border: none;
      padding: 10px;
      text-align: right; }
      .main-mnu a:hover {
        text-decoration: underline; }
    .main-mnu a:hover, .main-mnu li.active a {
      border: none; }
  .toggle-mnu {
    margin-bottom: 10px; }
  .col-mnu {
    background-color: #0066d0; }
  .main-mnu {
    z-index: 30; }
  .main-mnu li a {
    font-size: 22px; }
  .slider-slogan {
    font-size: 52px; }
  .trust-slider img {
    width: 131px; }
  .sert-slider img {
    width: 155px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .slider-icons {
    width: 100%; }
  .trust-slider img {
    width: 78px; }
  .trust-buttons {
    bottom: 62px; }
  .sert-slider img {
    width: 86px; }
  .main-form .form-wrap {
    width: 100%;
    background-size: 100%;
    padding-top: 189px; }
  .form-text {
    width: 65%; }
  .f1-mnu1 {
    width: 100%;
    margin-bottom: 30px;
    text-align: center; }
  .f1-mnu2 {
    width: 100%;
    text-align: center; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .main-form .form-wrap input[type=submit] {
    width: 220px;
    font-size: 13px; }
  .main-form {
    height: 572px; }
    .main-form .form-wrap {
      padding-top: 50px;
      margin-top: 50px;
      background-size: 320px auto;
      width: 320px;
      margin-left: auto;
      margin-right: auto; }
      .main-form .form-wrap:after {
        display: none; }
  .form-text {
    margin-top: -240px; }
    .form-text span {
      display: none; }
  .trust.sert li {
    width: 100%;
    margin: 0;
    margin-bottom: 30px; }
    .trust.sert li img {
      width: 150px; }
  .slider-icons span {
    background-size: 87px auto !important;
    font-size: 25px; }
  .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
    height: auto; }
    .logo span {
      text-align: center;
      margin: auto;
      width: 100%;
      float: none; }
    .logo img {
      text-align: center;
      float: none; }
  .top-l {
    width: 100%;
    margin-bottom: 10px; }
  .top-r {
    width: 100%;
    margin: auto;
    text-align: center; }
  .call-back {
    text-align: center;
    float: none;
    margin: auto;
    margin-bottom: 20px; }
  .top-phone {
    background: none; }
  .slider-slogan {
    font-size: 33px; } }

@media only screen and (max-width: 640px) {
  /**/ }

@media only screen and (max-width: 620px) {
  .footer1 {
    padding-left: 10px;
    padding-right: 10px; }
  .slider-icons span {
    font-size: 20px; } }

@media only screen and (max-width: 570px) {
  .f2-l, .f2-r {
    width: 100%;
    text-align: center;
    float: none; }
  .copy p {
    line-height: 1.25;
    font-size: 17px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .slider-slogan {
    font-size: 21px;
    line-height: 1.4; }
  .slider-icons span {
    font-size: 15px;
    padding-top: 125px; } }

@media only screen and (max-width: 360px) {
  .slider-icons span {
    font-size: 13px; } }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 1200px) {
  .main-mnu {
    display: block !important; }
  a {
    outline: none !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
