@charset "UTF-8";
/*input[type=submit]*/
@font-face {
  font-family: ArialRoundedMTBold;
  src: url(../fonts/ArialRoundedMTBold.ttf); }

.toggle-mnu {
  display: block;
  float: right;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 48px; }

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin: 40px 15px; }
  .toggle-mnu:focus {
    outline: none; }

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

.toggle-mnu span:after {
  top: 9px; }

.toggle-mnu span {
  position: relative;
  display: block; }

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.toggle-mnu.on span {
  background-color: transparent; }

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px); }

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
      -ms-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px); }

.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible; }

* {
  line-height: 1; }

ul, li {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a:hover, a:focus {
  text-decoration: none; }

.wrapper {
  width: 1300px;
  margin: auto;
  overflow: hidden; }

.top {
  padding: 23px;
  background-color: #FFF;
  overflow: hidden; }

.logo {
  width: 380px;
  float: left;
  margin-top: 30px;
  display: block;
  height: 101px; }
  .logo img {
    float: left; }
  .logo span {
    display: block;
    float: right;
    height: 101px;
    width: 205px;
    color: black;
    font-family: Arial;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    padding-top: 29px; }

.top-r {
  float: right;
  text-align: right; }

.call-back {
  width: 250px;
  height: 80px;
  background-color: #0066d0;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #FFF;
  font-family: Arial;
  font-size: 25px;
  font-weight: 700;
  line-height: 3.3;
  margin-bottom: 10px; }
  .call-back:hover {
    color: #FFF;
    text-decoration: none; }
  .call-back:active {
    color: #FFF;
    text-decoraразмерtion: none; }
  .call-back:focus {
    color: #FFF;
    text-decoration: none; }
  .call-back:visited {
    color: #FFF;
    text-decoration: none; }

.top-phone {
  background: url("../img/wa.png") no-repeat 0 0;
  background-position: left center;
  color: black;
  font-family: Arial;
  font-size: 25px;
  font-weight: 700;
  padding-left: 40px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 0; }
  .top-phone:hover {
    text-decoration: none; }

.top-mail {
  display: block;
  color: black;
  font-family: Arial;
  font-size: 25px;
  font-weight: 700; }
  .top-mail:hover {
    text-decoration: none; }

.main-mnu ul {
  display: block;
  height: 120px;
  background-color: #0066d0;
  width: 100%;
  text-align: center;
  padding-top: 43px; }
  .main-mnu ul li {
    display: inline-block;
    margin: 0 20px; }
  .main-mnu ul a {
    color: white;
    font-family: Arial;
    font-size: 33px;
    font-weight: 700; }
    .main-mnu ul a:hover {
      text-decoration: none; }

.slider {
  position: relative;
  height: 867px;
  overflow: hidden;
  border-bottom: 14px solid #000; }
  .slider:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.5; }

.slider-text {
  z-index: 20;
  color: #FFF;
  bottom: 190px;
  position: absolute;
  text-align: center;
  width: 100%; }

.slider-slogan {
  font-family: Arial;
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 160px; }

.slider-icons {
  width: 920px;
  margin: auto; }
  .slider-icons span {
    font-family: Arial;
    font-size: 29px;
    font-weight: 400;
    display: block;
    width: 33.3%;
    float: left;
    background-position: top center !important;
    padding-top: 170px;
    line-height: 1.2; }
    .slider-icons span:first-child {
      background: url("../img/1.png") no-repeat 0 0; }
    .slider-icons span:nth-child(2) {
      background: url("../img/2.png") no-repeat 0 0; }
    .slider-icons span:nth-child(3) {
      background: url("../img/3.png") no-repeat 0 0; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main-mnu {
    display: none;
    float: right;
    min-width: 250px;
    text-align: right;
    background-color: #1C242C;
    width: auto;
    position: absolute;
    top: 55px;
    right: 15px;
    height: auto;
    z-index: 10;
    margin-top: 0; }
    .main-mnu ul {
      display: inline; }
    .main-mnu li {
      display: block;
      float: none;
      margin: 0; }
    .main-mnu a {
      display: block;
      color: #FFF;
      -webkit-border-radius: 0;
              border-radius: 0;
      border: none;
      padding: 10px;
      text-align: right; }
      .main-mnu a:hover {
        text-decoration: underline; }
    .main-mnu a:hover, .main-mnu li.active a {
      border: none; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

@media only screen and (max-width: 640px) {
  /**/ }

@media only screen and (max-width: 620px) {
  /**/ }

@media only screen and (max-width: 570px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

@media only screen and (max-width: 360px) {
  /**/ }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 1200px) {
  .main-mnu {
    display: block !important; }
  a {
    outline: none !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
