/*input[type=submit]*/

@mixin bg($src)
  background: url("../img/#{$src}") no-repeat 0 0

@import _fonts
@import _mnu

$nr: no-repeat
$rb: right bottom
$rt: right top
$rc: right center
$cc: center center
$lc: left center
$lb: left bottom

@import _media